/* .App {
  text-align: center;
} */

.loader {
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  img.loader {
    animation-name: loader-spin;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    
  }
}
.umbrella-image {
  width: 90%;
  transition-timing-function: ease-in-out;
}

.holder{
  display: flex;
  justify-content: center;
  transition-timing-function: ease-in-out;
}

.image-holder {
  display: flex;
  justify-content: center;
}
.image-control {
  min-height: 40rem !important;
  display: flex;
}

.App-link {
  color: #61dafb;
}

.logo-image {
  max-width: 150px;
  height: auto;
  position: absolute;
  bottom: 15%;
  left: 24%;
}

@keyframes loader-spin {
  0%   {transform: rotate(0deg);}
  50%  {transform: rotate(180deg);}
  100% {transform: rotate(360deg);}
   
}
